<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>사칙연산</h1>
    <hr>
    <form action="/" method="post" th:object="${numbers}" style="display: inline-flex">
        <input type="number" th:field="*{x}">
        <select th:field="*{op}">
            <option th:each="operation : ${operations}" th:value="${operation}" th:text="${operation}"/>
        </select>
        <input type="number" th:field="*{y}">
        <button type="submit"> = </button>
        <div>[[*{answer}]]</div>
    </form>
    <hr>
    <button type="button" onclick="location.href='/clear-history'">기록 삭제</button>
    <ul th:each="history : ${histories}">
        <li th:text="|${history.x} ${history.op} ${history.y} = ${history.answer}|"></li>
    </ul>
</body>
</html>
<style>
    input {
        width: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    button {
        margin-right: 20px;
    }
</style>